

/* naivagtion */
#navbar{
    flex-direction: column;
}
#navbar::before{
    height: 130px;
    width: 104%;
}
#navbar ul li a{
    font-size: 20px;
}
/* home section */
#home{
    height: 425px;
    padding: 0px;
    
}
#home::before{
    height: 496px;
    padding: 2px 11px;
}
#home p{
    font-size: 20px;
}
/* services section  */
#services{
    flex-direction: column;
    
}
/* #services .box{

} */

/* clients section  */
 #clients{
    flex-wrap: wrap;
 }
 #clients img{
     width: 50px;
     padding: 0px;
     height: 50px;
     margin: 5px;
 }
 .client-item {
    padding: 13px;
}
#client-section {
    position: relative;
    height: 184px;
}
#client-section::before {
    width: 106%;
}
/* contact section  */
#contact-box form{
    width: 80%;
}
/* footer  */
/* utility classes */
.h-primary{
    font-size: 40px;
}
.btn{
    font-size: 10px;
    padding: 10px 10px;
    margin: 20px 10px;
}